// Version
$mobile-widths-only: "min-width: 360px";
$tablet-widths: "min-width: 720px";
$desktop-widths: "min-width: 1080px";


// Fonts
$font: "Inter", "Arial", sans-serif;
$font2: "Roboto", "Arial", sans-serif;


// color
$basic-color: #ffffff;
$text-color: #202123;
$blocks-color: #F6F6F9;
$text-additional-color: #90929E;
$decorative-color: #D1D5DF;
$decorative-additional-color: #1DC560;
